<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/jquery-ui/themes/base/jquery-ui.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/fonts.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="docmanWebApp" ng-controller="DocmanCtrl" dw-loading="loading" dw-loading-options="{text: ''}">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->

    <div class="container">
      <header>
        <h1><span ng-bind="ui.appname"></span></h1>
        <div class="languages">
          <a class="link" ng-click="changeLan('en')">EN</a> /
          <a class="link" ng-click="changeLan('ch')">中文</a>
        </div>
      </header>
      <ui-view></ui-view>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/spin.js/spin.js"></script>
    <script src="bower_components/angular-loading/angular-loading.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/lodash.min.js"></script>

        <script src="scripts/app.js"></script>

        <script src="scripts/factory/encrypt.js"></script>

        <script src="scripts/services/loading.js"></script>
        <script src="scripts/services/auth.js"></script>
        <script src="scripts/services/user-model.js"></script>
        <script src="scripts/services/fund-model.js"></script>     
        <script src="scripts/services/doc-model.js"></script>
        <script src="scripts/services/follower-model.js"></script>
        
        <script src="scripts/controllers/verify.js"></script>
        <script src="scripts/controllers/user.js"></script>
        <script src="scripts/controllers/funds.js"></script>
        <script src="scripts/controllers/followers.js"></script>
        <script src="scripts/controllers/subscription.js"></script>
        <!-- endbuild -->
</body>
</html>
